.lgufps {
    width: 150px;
    height: 180px;
    float: right;
}

canvas{
    border: 3px solid purple;
    display: block;
    margin: auto;
}

.me{
    width: 200px;
    height: 200px;
    float: right;
    padding-right: 10px;
}